.inicio-adm{

    display: flex;
    flex-direction: column;
    background-image: url('../../images/login-back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 100vh;
    padding: 2em;

   
    .principal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 85vh;

    }

    .entradas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        opacity: 93%;
        margin-bottom: 2em;
    }

    .adm{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 1.5vh;
        width: 60vh;
        height: 60vh;

    }

    .cliente{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 1.5vh;
        width: 60vh;
        height: 60vh;

    }

    img{
        align-self: center;
    }

    

    .botao{
        width: 8em;
        height: 2.5em;
        border-radius: 1em;
        font-weight: 600;
        font-size: 1em;     
    }
  
    .adm:hover, .cliente:hover{
        width: 61vh;
        height: 61vh;
    }

    .adm:active, .cliente:active{
        background-color: #969696;
    }
    
}