.page-home{


    .faixa1{
        display: flex ;
        flex-direction : row ;
        background-color: black;
        height: 45px;
    }

    .endereco{
        color: white;
        margin-left: 35px;
        margin-top: 10px;
        font-size: 12px;
    }
    .head{

        
    }

}