.page-home{
    display: flex;
    flex-direction: column;
    background-color: #353535;



    .faixa-3{
        background-image:url(../../images/ladin2.jpg);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    


    }

    .texto{
        width: 50vh;

        
    }

    .BOTOES{
        display: flex;
        flex-direction: column-reverse;
  
    }
    


    .P1{
        align-self: center;
        color: white;
        margin-left: 35px;
        margin-bottom: 2em;
        margin-top: 0.5em;
        font-size: 2.5em;
        font-weight: 400;
     
    }

    .P2{
        margin-bottom: 5em;
        
       
    }

    .P1-P2{
        align-self: center;
        color: white;
        margin-left: 35px;
        margin-bottom: 2em;
        margin-top: 0.5em;
        font-size: 2.5em;
        font-weight: 400;
        margin-bottom: 5em;
    }

    .b1{
        margin: 1em;
        border-radius: 2em;
        font-size: 1.2em;
   
    }

    .faixa-4{
        background-color: #C4C4C4;
        display: flex ;
        flex-direction : row ;
        justify-content: space-between;
        height: 20vh;
    }

    .textos{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-left: 2em;
    }
    

    .P2{
        color: black;
      
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-size: 2em;   

    }
    .P3{

        color: #181818;
    
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-size: 1.5em; 
       
    }
    
     .b2{
        margin: 4.5em;
        border-radius: 8em;
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;

    }
    .BOTAO{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
  
    }
    .faixa-5{
        background-color: #353434;
        display: flex ;
        flex-direction : column ;
        align-items: center;
        font-size: 1.5em;
        margin-top: 1.5em;
    }
    .t1{
        color: aliceblue;

    }
    

    .imagens1{
        display: flex;
        flex-direction: row;
        margin-top: 5em;
        justify-content: space-evenly;
        width: 100%;

    }
     
    .titulo2{
        color: aliceblue;
        display: flex ;
        flex-direction : column ;
        align-items: center;
        font-size: 1em;
        margin-top: 3em;

    }

    .p5{
        color: #d1cece;
        font-size: 0.8em;
      

    }

    .imagem2{
        display: flex;
        flex-direction: row;
        margin-top: 5em;
        justify-content: space-evenly;
        width: 100%;
}
    .quemsomos{
        display: flex ;
        flex-direction : column ;
        align-items: center;
        font-size: 1.5em;
        margin-top: 1.5em;
}
    .somos {
        display: flex;
        flex-direction: column;
        width: 75%  ;
        margin-left: 2em;
    }

    .faixa-6{
        background-color: #353434;
        display: flex ;
        flex-direction : column;
        margin-top: 3em;
        align-items: center;
        font-size: 1.5em;
        height: 100%;
         
   
    }



    .t6{
        font-size: 1.5em;
        margin-top: 1em;
        color: aliceblue;


    }

    .bloco6{
        background-color: #353434;
        display: flex ;
        flex-direction : row;
        margin-top: 2em;
        align-items: center;
 


    }

    .imagens6{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        justify-content: space-evenly;
        width: 100%;


    }

    .começo{
        font-size: 0.8em;
        margin-top: 1em;
        color: aliceblue;


    }

    .rodape{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: #ffff;
        font-size: 1.2em;
        margin-bottom: 2em;
    }
     
    .caixa-1{
        width: 20%;
        display: flex;
        flex-direction: column;
    }



    hr{
        color: #ffff;
        width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
    }

}