.page-home{
    display: flex;
    flex-direction: column;
    background-color: #353535;

    .faixa1{
        display: flex ;
        flex-direction : row ;
        background-color: black;
        height: 45px;
    }

    .endereco{
        color: white;
        margin-left: 35px;
        margin-top: 10px;
        font-size: 12px;
    }
    .faixa2{
        background-color: #C4C4C4;
        display: flex ;
        flex-direction : row ;
        height: 102px;
        
    }

    .serviços{
        color: black;
        margin-left: 35px;
        margin-top: 10px;
        font-size: 24px;
               
        justify-content: space-around;
    }


    .faixa-3{
        background-image:url(../../images/img1.jpg);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;


    }

    .texto{
        width: 50vh;

        
    }

    .BOTOES{
        display: flex;
        flex-direction: column-reverse;
  
    }
    


    .P1{
        align-self: center;
        color: white;
        margin-left: 35px;
        margin-bottom: 2em;
        margin-top: 0.5em;
        font-size: 2.5em;
        font-weight: 400;
     
    }

    .P2{
        margin-bottom: 5em;
       
    }

    .b1{
        margin: 1em;
        border-radius: 2em;
        font-size: 1.2em;
   
    }

    .faixa-4{
        background-color: #C4C4C4;
        display: flex ;
        flex-direction : row ;
        justify-content: space-between;
        height: 20vh;
    }

    .textos{
        display: flex;
        flex-direction: column;
        width: 75%  ;
        margin-left: 2em;
    }
    

    .P2{
        color: white;
      
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-size: 2em;   

    }
    .P3{

        color: rgb(24, 24, 24);
    
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-size: 1.5em; 
       
    }
    
     .b2{
        margin: 4.5em;
        border-radius: 8em;
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;

    }
    .BOTAO{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
  
    }
    .faixa-5{
        background-color: #494949;
        display: flex ;
        flex-direction : column ;
        height: 50vh;
        align-items: center;
        font-size: 1.5em;
        margin-top: 1.5em;
    }
    

    .imagens1{
        display: flex;
        flex-direction: row;
        margin-top: 5em;
        justify-content: space-evenly;
        width: 100%;

    }

}