.home-adm{
    display: flex;
    flex-direction: column;
    background-color: #353535;

    .faixa1{
        background-color: #C4C4C4;
        display: flex ;
        flex-direction : row ;
        height: 102px;
    }

    .faixa2{
        display: flex;
        flex-direction: row;
        background-color: #353535;
        justify-content: space-evenly;
        margin-top: 10em;

    }

    .bloco1{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 1.5vh;
        width: 65vh;
        opacity: 100%;
    }

    
   .bloco2{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 1.5vh;
        width: 65vh;
        opacity: 100%;
    }


   .h2{
        font-size: 264px;
    }
    
   .h3{
        font-size: 500px;
    }

   .img-1{
        margin-left: -10em;

    }

   .img-2{

    
    }
}