.agenda{
    
    display: flex;
    flex-direction: row;



    .pag-centro{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        background-color:#8E8D8D;
        color: #fff;
        
    }

    .cabecalho-centro{
        display: flex;
        align-self: center;
        margin: 2em;

    }

    h1, h2, h3{
        font-weight: 450;
        font-size: 1.2em;
    }

    .meio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .caixas{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .card{
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        border-radius: 2em;
        width: 90%;
        padding: 1em;
        color: black;
        margin-top: 2em;
    }

    .head-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .line-card{
        margin-top: 1em;
        margin-bottom: 1em;
        color: #000;
        border: 1px solid #000;
    }

    .info-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 2em;
        padding: 1em;
    }

    .info-text{
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .foot-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em;
    }

    .right-foot{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .xis{
        opacity: 75%;
    }


    
}