

.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    width: 25vh;
    min-height: 100;
    color: #fff;
    
    
    .lista{
        width: 98%;
    }

    hr{
        width: 100%;
        color: #fff;
    }

    h1, h2, h3{
        font-weight: 450;
        color: #fff !important;
        margin: 2em !important;
    }
    
    .links{
        margin-bottom: 0.3em;
        margin-top: 0.5em;
        margin-left: 0.2em;
    }

    .sair{
        background-color: red;
        font-size: 1em;
        width: 5em;
        height: 2em;
        margin-bottom: 3em;
        color: #fff;
        border-radius: 0.5em;
    }

    .sair:active{
        color: #fff;
        background-color: #a00000;
        cursor: pointer;
    }

}